__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
firebase_credentials.json
uploads/
.DS_Store

login.json

data.json

# Database files
*.db
*.sqlite
*.sqlite3
app.db
migrations/versions/*.py
!migrations/versions/.gitkeep

